html,
body{
    height:100%;

}
body{
    min-width: 320px;
    overflow-x: hidden;
    @extend %roboto-400;
    font-size: 16px;
    line-height: 18px;
    color: $default;
}


button{
    padding: 0;
    cursor: pointer;
}

.main{
    flex-grow: 1;
}

.container{
    padding: 0 20px;
}


.title{
    line-height: 28px;
    font-size: 24px;
    color: $accent;
    position: relative;
    padding-bottom: 28px;
    &::after{
       content: "";
       position: absolute;
       width: 100px;
       height: 8px;
       background-color: $accent;
       bottom: 0;
       margin: 0 auto;
       left: 0;
       right: 0;
    }
}









