
@media (min-width: 640px){
   .title{
       margin-bottom: 20px;
       padding-bottom: 0;
       &::after{
           display: none;
       }
    }  
  .logo__link{
      margin-left: 14px;
  }
  .container{
      padding: 0 30px;
  }
  .header{
   &__inner{
      min-height: 100px; 
    }
  }
  .logo__link{
      margin-left: 0px;
  }
  .head{
      min-height: 386px;
  }
  .top-slider{
    &__item{
        min-width: 386px;
    }
    &__title{
        font-size: 60px;
        line-height: 60px;
        padding: 50px 0 15px;
        margin: 0 auto 30px;
        max-width: 520px;
    }
    &__btn{
        display: block;
        margin:0 auto 113px;
        font-size: 18px;
        background-color: $accent;
        color: $bg-color;
        padding: 16px 45px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .slick-dots{
        bottom: 50px;
    }
    .slick-arrow{
        width: 56px;
        height: 56px;
        border: none;
        position: absolute;
        right: 0;
        z-index: 5;
        img{
            margin: 0 auto;
        }
    }
    .slick-prev{
        background-color: $accent;
        top: calc(50% - 56px);
    }
    .slick-next{
        background-color: $bg-color;
        bottom: calc(50% - 56px);
        }
    }
    .services{
       padding: 24px 0 0px;
       &__item{
        min-height: 334px;
        &:hover{
           .services__item-inner{
               margin: 18 0px;
               padding: 35px 60px;
               min-height: 288px;
           }
        }
      }
       &__title{
           font-size: 48px;
            line-height: 56px;
       }
       &__descr{
           font-size: 24px;
           padding-bottom: 38px;
           margin-bottom: 31px;
           position: relative;
           max-width: 600px;
           margin: 0 auto 30px;
           &::after{
               content: "";
               position: absolute;
               width: 100px;
               height: 8px;
               background-color: $accent;
               bottom: 0;
               margin: 0 auto;
               left: 0;
               right: 0;
            }
         }
        &__text{
            font-size: 18px;
            line-height: 24px;
            max-width: 559px;
            margin: 0 auto 27px; 
        }
        &__items{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -30px;
        }
        &__item{
            width: 50%;
            &:nth-child(even){
                border-left:  none;
            }
            &:last-child{
                border-bottom: none;
            }
        }    
    }
    .project{
        padding: 40px 0 20px;
        &__title{
            padding-bottom: 28px;
            margin-bottom: 40px;
            font-size: 48px;
    line-height: 56px;
            &::after{
              display: block;
              background-color: #fff;
              width: 100px;
            }
        }
        &__item-img{
            min-height: 460px;
            padding: 21px 24px;
        }
        &__item-inner{
            min-height: 417px;
        }
        &__item-link{
            font-size: 20px;
            line-height: 23px;
        }
    }
    .team{
      padding:46px 0 53px;  
      &__title{
          padding-bottom:28px;
          margin-bottom: 40px;
          &::after{
              display: block;
              width: 88px;
          }
      }
      &__text{
          margin-bottom: 56px;
      }
      &__btn{
          font-size: 20px;
      }
    }
    .blockquote{
        &__qoute{
            margin-bottom: 40px;
        }
        &__text{
            font-size: 32px;
            line-height: 34px;
            max-width: 552px;
            margin: 0 auto;
        }
        &__author{
        padding-top: 40px;
        font-size: 20px;
        line-height: 23px;
        }  
    }
    .footer{
        padding: 100px 0 130px;
        &__bottom{
            background-color: $bg-color;
            padding: 15px 0 ;
        }
        &__text{
            font-size: 24px;
            line-height: 26px;
            letter-spacing: 2px;
            text-align: left;
            max-width: 547px;
            margin-bottom: 40px;
        }
        &__social-links{
         flex-direction: inherit;
         justify-content: space-evenly;
         margin-bottom: 0;
         height: 30px;
         width: 100%;
        }
        &__social-link{
            border-right: 2px solid #7EBF84;
            padding: 10px 70px;
            &:last-child{
                border-right: 0;
            } 
        }
     
        &__address-text-box{
            flex-wrap: wrap;
            flex-direction: inherit;
            margin-top: 80px;

        }
        &__address-texts{
            width: 50%;
            min-height: 120px;
            display: flex;
            flex-direction: column;
        }
        &__bottom-link{
            flex-direction: inherit;
            justify-content: right;
        }
        &__bottom-link-text{
            margin-bottom: 0;
            margin-right: 20px;
        }
        &__bottom-link-lmg{
            margin-top: 7px;
        }   
    }
    .footer__address-texts:last-child{
        margin-bottom: 55px;
    }
    .footer__social-link + .footer__social-link {
        margin-top: 0px;
    }              
}



@media (min-width: 768px){
  .container{
      padding: 0 40px;
   }
  .top-slider{
    &__item{
        min-height: 465px;
    }  
    &__title{
        padding: 87px 0 0;
        margin: 0 auto 0;
        &::after{
            display: none;
        }
    }  
    &__text{
        display: block;
        padding: 25px 0 32px;
        font-size: 18px;
        line-height: 20px;
        max-width: 587px;
        margin: 0 auto;
    }  
  }
  .call{
      text-align: left;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    &__box{
        max-width: 427px;
    }
    &__text{
        margin-bottom: 0; 
    }

  }
  .services{
    padding: 50px 0 0;
    &__title{
        margin-bottom: 30px;
    }
    &__descr{
        text-align: left;
        margin: 0 0 30px 0;
        max-width: 100%;
        &::after{
         margin-left: 0;
         }
      }
     &__text{
        max-width:689px;
        text-align: left;
        margin: 0 0 27px 0;
     }
     &__items{
         margin: 0 -40px;
     }
     &__item{
         min-height: 334px;
         &:hover{
            .services__item-inner{
                margin: 18 0px;
                padding: 35px 60px;
                min-height: 288px;
            }
         }
      }
      
   }
   .project{
    padding: 80px 0 60px;
    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__title{
        padding-bottom: 28px;
        margin-bottom: 40px;
        &::after{
          display: block;
          background-color: #fff;
          width: 100px;
        }
    }
    &__item-img{
        min-height: 282px;
        width: 317px;
        padding: 12px 14px;
        margin: 0 12px;
    }
    &__item-inner{
        min-height: 256px;
    }
  }
  .team{
    padding:40px 0 48px;
    &__inner{
       display: flex; 
       text-align: left;
    }
    &__images{
        margin-bottom: 0;
        width: 240px;
        height: 100%;
        margin-right: 34px;
        object-fit: cover;
    }  
    &__title{
        font-size: 36px;
        line-height: 38px;
        margin-bottom: 19px;
        &::after{
            width: 100px;
            margin-left: 0;
        }
    }
    &__text{
        font-size: 18px;
        margin-bottom: 30px;
    }
  }
  .blockquote{
    &__qoute{
        margin-bottom: 40px;
    }
    &__text{
        font-size: 32px;
        line-height: 34px;
        max-width: 687px;
        margin: 0 auto;
    }
    &__author{
     padding-top: 40px;
    }  
  }
  .footer{
    padding: 115px 0 56px;
    &__text{
        font-size: 36px;
        line-height: 39px;
        max-width: 700px;
      
    }
  
  }
           
}

@media (min-width: 1024px){
  .container{
      max-width: 1200px;
      margin: 0 auto;
   }
   .top-slider{
       &__item{
           min-height: 618px;
       }
       &__title{
           padding-top: 101px;
           font-style: 84px;
           line-height: 84px;
           letter-spacing: 2px;   
       }
       .slick-dots{
           bottom: 80px;
       }
       .call{
           &__box{
               max-width: 695px;
           }
       }
    }
    .services{
        padding: 52px 0 0;
        &__title{
            margin-bottom: 60px;
        }
        &__descr{
            padding-bottom: 46px;
            margin-bottom: 40px;
          }
         &__text{
           margin-bottom: 32px;
           max-width: 608px;
         }
         &__item{
             width: 25%;
             padding: 0 17px;
             min-height: 277px;
             &:nth-child(2),
             &:nth-child(6){
               border-right: none;
             }
             &:hover{
                 padding: 0 17px;
                .services__item-inner{
                    margin: 10 0px;
                    padding: 21px 9px;
                    min-height: 255px;
                }
             }
          }
       }
       .project{
        &__items{
            justify-content: center;
        }
        &__item-img{
          margin: 0 12px;
        }   
    }
    .team{
        padding:80px 0;
        &__images{
            margin-bottom: 0;
            width: 395px;
            object-fit: cover;
        }  
        &__title{
            margin-top: 10px;
            margin-bottom: 19px;
        }
        &__text{
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
        }
    }
    .blockquote{
        padding: 100px 0 80px;
        &__qoute{
            margin-bottom: 45px;
        }
        &__text{
            font-size: 32px;
            line-height: 37px;
            max-width: 1024px;
        }
        &__author{
         padding-top: 45px;
         font-size: 20px;
         line-height: 28px;
        }  
      }
    .footer{
      padding: 158px 0 60px;
      &__text{
          max-width: 751px;  
      }
      &__address-text-box{
          flex-wrap: nowrap;
      }
      &__social-links{
          width: 700px;
          margin: 0 auto;
      }
  }     
}

@media (min-width: 1440px){
  .container{
      max-width: 1320px;
  }
  .menu__btn{
      margin-right: 90px;
  }
  .slick-arrow{
        width: 70px;
        height: 70px;
  }
  .slick-prev{ 
        top: calc(50% - 70px);
  }
  .slick-next{
        bottom: calc(50% - 70px);
  }
  .top-slider{
    &__item{
        min-height: 668px;
    }
    &__title{
        padding-top: 107px;
        font-style: 96px;
        line-height: 96px;
        letter-spacing: 2px;
        font-size: 96px;
        max-width: 886px;   
    }
    &__text{
        font-size: 24px;
        line-height: 26px;
        max-width: 886px;
    }
  }
  .call{
      &__inner{
          padding: 0 80px;
      }
      &__box{
        max-width: 796px;
      }
    }
    .services{
        padding: 0;
        &__inner{
            display: flex;
            justify-content: space-between;
            margin: 0 -100px 0 -50px;
        }
        &__head{
           min-width: 350px;
           margin-bottom: 100px;
           margin-right: 120px;
        }
        &__title{
            margin: 90px 0 70px;
            text-align: left;
            
        }
        &__text{
            max-width: 351px;
        }
        &__descr{
            padding-bottom: 38px;
            margin-bottom: 35px;
            max-width: 333px;
            line-height: 26px;
        }
        &__items{
         max-width: 900px;
        }
        &__item{
             width: 25%;
             padding: 0 5px;
             height: 273px;
             &:hover{
                 padding: 0 px;
                .services__item-inner{
                    margin: 0px;
                    padding: 10px 3px;
                    min-height: 255px;
                    width: 200px;
                }
             }
          }
       }
       .project{
        &__items{
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        &__item-img{
          width: 300px;
        }   
    }
    .team{
        padding:50px 0 110px;
        &__images{
            margin-right: 93px;
            width: 470px;
        }  
        &__title{
            margin-bottom: 40px;
        }
        &__text{
            margin-bottom: 40px;
            width: 553px;
           
        }
    }
    .blockquote{
        padding: 100px 0 80px;
        &__qoute{
            margin-bottom: 45px;
        }
        &__text{
            font-size: 32px;
            line-height: 37px;
            max-width: 1400px;
        }
        &__author{
         padding-top: 30px;
         font-size: 24px;
         line-height: 28px;
        }  
    }
    .footer{
        padding: 158px 0 77px;
        &__text{
            max-width: 751px; 
            margin-bottom: 80px; 
        }
        &__address-text-box{
            flex-wrap: nowrap;
        }
  
   }        
}